@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, div, ul, li, p {
	margin: 0;
	padding: 0;
	}

body {
	font-family: Verdana, Geneva, sans-serif;
	background-image : url('../img/nogusa2.jpg');
	}
#divWrapper {
	width: 700px;
	margin: 20px auto;
	}
#divHeader {
	width: 700px;
	background-image:url('../img/header-bg.png');
	text-align: center;
	
	}
#divHeader img {
	padding-top: 20px;
	padding-bottom: 20px;
	}/*
#divLine {
	width: 700px;
	background: #999;
	height: 1px;
}
#divLine2 {
	width: 700px;
	background: #999;
	height: 1px;*/
	}
#divLinks {
	width: 700px;
	background: #B2DDC2;
	
	}
#divNav {
	width:700px;
	margin:0 auto;
	background:#B2DDC2;;
	height: 36px;
	border-bottom: 1px #999 solid;
	border-top: 1px #999 solid;
	
	}
#divNav ul {
	list-style-type: none;
	text-align: center;
	margin-left: 150px;
    
	
	
	}
#divNav ul li {
	
	float: left;
	
	}
#divNav ul li a {
	display: block;
	height: 20px;
	line-height: 20px;
	background: #000;
	width: 80px;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	margin: 7px;
	border: 1px solid #000;
	border-radius: 5px;
	background:-moz-linear-gradient(top, #666, #83B9E5);
	background:-webkit-gradient(linear, left top, left bottom, from(#666) to(#83B9E5));
	}
#divNav ul li a:hover {
	background:#333;
	background:-moz-linear-gradient(top, #000, #666);
	background:-webkit-gradient(linear, left top, left bottom, from(#000) to(#666));
	}
#divNav ul li a.current, #divNav ul li a.current:hover {
	background:#333;
	background:-moz-linear-gradient(top, #83B9E5, #666);
	background:-webkit-gradient(linear, left top, left bottom, from(#83B9E5) to(#666));
	color:#D895C0;
	cursor:default;
	}
#divAbout {
	width: 700px;
	background-image : url('../img/nogusa3.jpg');
	padding-bottom: 60px;
	padding-top: 60px;
	}	
#divContent {
	width: 650px;
	height: 459px;
	font-family: 'PT Sans', sans-serif;
	font-size: 24px;
	background-image : url('../img/hand1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
	border: 1px solid #000;
	border-radius: 15px;
	box-shadow: 1px 1px 4px #000;
	
	
	}
#divContent img {
	margin-left: 170px;
	margin-top: 23px;
	padding: 5px;
	display: block;
	position: relative;
	box-shadow: 5px 8px 4px #666;
	
	
	/*Gradient*/
	
	}
#divContent h5 {
	color: #fff;
	padding-top: 0.8em;
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
	}
#divContent > p {
	font-size: 0.7em;
	color: #FFDBEA;
	padding: 0.7em;
	line-height: 1.4em;
	text-align: justify;
	
	}
#divFooter {
	width: 700px;
	height: 20px;
	background: #B2DDC2;
	border-bottom: 1px solid #333;
	}
	
	
